extends main

block content2
	if mine
		each evt, index in mine 
			div.event.mix(class="#{evt.category} #{ evt.date < Date.now() ? 'attended' : '' }")(id=index===0 ? 'first-event' : '')
				div.eventid #{evt._id}
				div.rank= index+1
				div.col-xs-2
					div.thumbsUp
						a.btn(role='button', class="#{ evt.isUserAttending(user._id) ? 'unlikeButton btn-success' : 'likeButton btn-default' }") I like it!
					
					div.upvotes
						span.glyphicon.glyphicon-arrow-up #{evt.upvotes}
				div.col-xs-4(onclick="window.location='/event?id=#{evt._id}'")
					div.eventTitle #{evt.name}
					div.eventDesc #{evt.description}
				div.col-xs-3
					if user.isAdmin || user.isSuperAdmin
						if evt.sponsor == user.name
							a.unsponsorThis.btn.btn-success(href='#', role='button') Unsponsor
						else if evt.sponsor == ""
							a.sponsorThis.btn.btn-default(href='#', role='button') Sponsor this event!
					div.sponsorName Sponsor: #{evt.sponsor}
					div.happening
						if !evt.sponsored
							p
						else if evt.sponsor !== user.name
							| Date:
							p #{evt.date.getMonth()+1}/#{evt.date.getDate()}/#{evt.date.getFullYear()}
						else 
							| Date:
							input.scheduler(type='text', value='#{evt.date.getMonth()+1}/#{evt.date.getDate()}/#{evt.date.getFullYear()}', placeholder="mm/dd/yyyy")

block content_extra
	a#viewPastEvents.filter.btn.btn-default(href='#', data-filter='.attended', role='button') View Past Events
	a#viewAllEvents.filter.btn.btn-default(href='#', data-filter='all', role='button') View All Events